{% extends 'base.html' %}


{% block title %}{{ user.username }} پروفایل{% endblock %}

{% block content %}
{% if user.profileemployee.meli_code %}
<h2>اطلاعات شخصی:</h2>
<br>
<h1>اینجارو تکمیل کن</h1>
{{ profile.meli_code }}
{% else %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="POST">{% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}

                <button class="btn btn-success" type="submit">ثبت</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}