{% extends 'base.html' %}
{% load moshavere_extra %}

{% block title %}درخواست های مشاوره{% endblock %}

{% block content %}
{% with user.username|split_ret_last:"-" as job %}
{% if not user.email and job == 'moshaver' %}
<div class="container my-5">
    <h3>درخواست های شما برای مشاوره:</h3>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">شماره</th>
                            <th scope="col">نام و نام خانوادگی</th>
                            <th scope="col">شماره دانشجویی</th>
                            <th scope="col">کُد ملی</th>
                            <th scope="col">شماره موبایل</th>
                            <th scope="col">فرم</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in reserved_requests_model %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ i.daneshjoo.first_name }} {{ i.daneshjoo.last_name }}</td>
                            <td>{{ i.student_number }}</td>
                            <td>{{ i.meli_code }}</td>
                            <td>0{{ i.phone_number }}</td>
                            <td><a class="btn btn-info btn-sm" href="{% url 'moshavere:reserved_requests_detail' moshaver=i.moshaver.user.username daneshjoo=i.daneshjoo %}">ادامه</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination my-2">
                <span class="step-links">
                    {% if reserved_requests_model.has_previous %}
                    <a href="?page=1">&laquo;</a>&nbsp;
                    <a href="?page={{ reserved_requests_model.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">صفحه قبل</a>
                    {% endif %}

                    <span class="current">
                        {{ reserved_requests_model.number }} از {{ reserved_requests_model.paginator.num_pages }}.
                    </span>

                    {% if reserved_requests_model.has_next %}
                    <a href="?page={{ reserved_requests_model.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">صفحه بعد</a>
                    &nbsp;<a href="?page={{ reserved_requests_model.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-danger text-center">
    شما دسترسی به این قسمت ندارید.
</div>
{% endif %}
{% endwith %}
{% endblock %}