{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block title %}{% endblock %}

{% block content %}
{% if user.email %}
<div class="container my-5">
<h4>مشاور های {{ moshaver.first.daneshkadeh }}</h4>
<br>
    {% for i in moshaver %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
        <div class="card-body text-center">
            <form method="POST">{% csrf_token %}
            <div class="alert alert-info">
                <h5 class="card-title mb-3">{{ i }}</h5>
                <input type="hidden" name="moshaver" value="{{ i.pk }}"/>
                <input type="hidden" name="city" value="{{ i.city.pk }}"/>
                <input type="hidden" name="daneshkadeh" value="{{ i.daneshkadeh.pk }}"/>
                <p class="card-text">مشاور تحصیلی و شغلی {{ i.daneshkadeh }}</p>
                <p class="card-text"><small>وقت مشاوره: {{ i.roozhaye_hozor }}</small></p>
            </div>
                {{ form.as_p }}
                {{ form.media }}
            </div>
            <button class="btn btn-success" type="submit">رزور</button>
        </form>
    </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-danger text-center">
    شما دسترسی به این قسمت ندارید.
</div>
{% endif %}
{% endblock %}