{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block title %}{% endblock %}

{% block content %}
{% if user.email %}
<div class="container col-sm-6 my-5 px-5 text-center">
    <form method="POST">{% csrf_token %}
        <input type="hidden" name="moshaver" value="{{ moshaver.pk }}" />
        <input type="hidden" name="city" value="{{ moshaver.city.pk }}" />
        <input type="hidden" name="daneshkadeh" value="{{ moshaver.daneshkadeh.pk }}" />
        <div class="alert alert-info">
            <p class="card-text">مشاور تحصیلی و شغلی {{ moshaver }}</p>
            <div class="card-text">
                <p><small>وقت مشاوره:</small></p>
                <hr>
                {% for j in moshaver.roozhaye_hozor.all %}
                {% with forloop.counter as outer_loop %}
                <p class="mb-2">{{ j }}:
                    {% for i in j.times.all %}
                    <div class="form-check form-check-inline m-1">
                        <input class="form-check-input" value="{{ i }},{{ outer_loop }}" name="reserved" type="radio"
                            id="reserved-{{ outer_loop }}-{{ forloop.counter }}" checked>

                        <label class="form-check-label me-4" for="reserved-{{ outer_loop }}-{{ forloop.counter }}">
                            {{ i }}
                        </label>
                    </div>
                    {% endfor %}
                {% endwith %}
                {% if not forloop.last %}
                <hr>{% endif %}
                </p>
                {% endfor %}
            </div>
        </div>

        {{ form.as_p }}
        {{ form.media }}
        <button class="btn btn-success mt-3" type="submit">ثبت و رزرو</button>
    </form>
</div>
{% else %}
<div class="alert alert-danger text-center">
    شما دسترسی به این قسمت ندارید.
</div>
{% endif %}
{% endblock %}