{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block title %}{% endblock %}

{% block content %}
{% if user.email %}
<div class="container my-5 px-5 text-center">
    <form method="POST">{% csrf_token %}
            <input type="hidden" name="moshaver" value="{{ moshaver.pk }}" />
            <input type="hidden" name="city" value="{{ moshaver.city.pk }}" />
            <input type="hidden" name="daneshkadeh" value="{{ moshaver.daneshkadeh.pk }}" />
            <p class="card-text">مشاور تحصیلی و شغلی {{ moshaver }}</p>
            <p class="card-text mb-5">
                <small>وقت مشاوره:
                    {% for j in moshaver.roozhaye_hozor.all %}
                    {{ j }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
            </p>
            <label for="formselect">روز مشاوره:</label>
            <select class="form-select text-center mb-3" id="formselect" name="day" aria-label="Default select example">
            {% for j in moshaver.roozhaye_hozor.all %}
            <option value="{{ j }}">{{ j }}</option>
            {% endfor %}
            </select>
        {{ form.as_p }}
        {{ form.media }}
        <button class="btn btn-success mt-3" type="submit">ثبت و رزرو</button>
    </form>
</div>
{% else %}
<div class="alert alert-danger text-center">
    شما دسترسی به این قسمت ندارید.
</div>
{% endif %}
{% endblock %}