{% extends 'base.html' %}

{% block title%}مشاوره{% endblock %}

{% block content%}
<!-- مشاور -->
{% if employee.is_authorized == True and employee.job == 'مشاور' %}
{% include 'forms/moshaver.html' %}
<!-- ناظر -->
{% elif employee.is_authorized == True and employee.job == 'ناظر' %}
{% include 'forms/nazer.html' %}
<!-- تایید نشده -->
{% else %}
<div class="container py-5">
    <p>کاربری
        {{ request.user }}
        هنوز تایید نشده است
    </p>
    <p>لطفا منتظر باشید</p>
</div>
{% endif %}
{% endblock %}