{% extends 'base.html' %}
{% load jalali_tags %}
{% load moshavere_extra %}

{% block title %}{{ consulation_detail }} فرم مشاوره{% endblock %}
{% block content %}
{% with user.username|split_ret_last:"-" as job %}
{% if not user.email and job == 'nazer' %}
<div class="container my-5">
    <a class="btn btn-sm btn-secondary mb-4" href="{% url 'moshavere:nazer' %}">بازگشت به فهرست فرم ها ></a>
    
    <table class="table table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>عنوان</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>مشاور:</th>
                <td>{{ consulation_detail.author.first_name }} {{ consulation_detail.author.last_name }}</td>
            </tr>
            <tr>
                <th>دانشجو:</th>
                <td>{{ consulation_detail.daneshjoo_first_name }} {{ consulation_detail.daneshjoo_last_name }}</td>
            </tr>
            <tr>
                <th>شماره دانشجویی:</th>
                <td>{{ consulation_detail.daneshjoo_student_number }}</td>
            </tr>
            <tr>
                <th>کُد ملی دانشجو:</th>
                <td>{{ consulation_detail.daneshjoo_meli_number }}</td>
            </tr>
            <tr>
                <th>ترم های مشروطی:</th>
                <td>{{ consulation_detail.mashroot_len }}</td>
            </tr>
            <tr>
                <th>معدل:</th>
                <td>{{ consulation_detail.moadel }}</td>
            </tr>
            <tr>
                <th>معدل ترم قبل:</th>
                <td>{{ consulation_detail.model_term_ghabl }}</td>
            </tr>
            <tr>
                <th>ارجاع به روانپزشک</th>
                <td>{% if consulation_detail.erja_ravanpezeshk == True %}بله{% else %}خیر{% endif %}</td>
            </tr>
            <tr>
                <th>ارجاع به مشاوره بالینی:</th>
                <td>{% if consulation_detail.erja_moshavere_balini == True %}بله{% else %}خیر{% endif %}</td>
            </tr>
            <tr>
                <th>ارجاع به مشاوره تحصیلی:</th>
                <td>{% if consulation_detail.erja_moshavere_tahsili == True %}بله{% else %}خیر{% endif %}</td>
            </tr>
            <tr>
                <th>ارجاع به مشاوره شغلی:</th>
                <td>{% if consulation_detail.erja_moshavere_shoghli == True %}بله{% else %}خیر{% endif %}</td>
            </tr>
            <tr>
                <th>تاریخ مشاوره حضوری:</th>
                <td>{{ consulation_detail.nobat|to_jalali:'%Y/%m/%d' }}</td>
            </tr>
            <tr>
                <th>ساعت مشاوره:</th>
                <td>{{ consulation_detail.time }}</td>
            </tr>
            <tr>
                <th>تعداد جلسات مشاوره:</th>
                <td>{{ consulation_detail.tedad_jalasat_moshavere }}</td>
            </tr>
            <tr>
                <th>مشکل اصلی:</th>
                <td>{{ consulation_detail.moshkel_asli }}</td>
            </tr>
            <tr>
                <th>مشکل فعلی:</th>
                <td>{{ consulation_detail.moshkel_feli}}</td>
            </tr>
            <tr>
                <th>ارزیابی:</th>
                <td>{{ consulation_detail.arzyabi}}</td>
            </tr>
            <tr>
                <th>نشانه های رفتاری:</th>
                <td>{{ consulation_detail.neshanehaye_raftari }}</td>
            </tr>
            <tr>
                <th>اهداف مداخله:</th>
                <td>{{ consulation_detail.ahdaf_modakhele }}</td>
            </tr>
            <tr>
                <th>فرایند مداخله:</th>
                <td>{{ consulation_detail.farayande_modakhele }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-success" href="{% url 'moshavere:export_form' slug=consulation_detail.slug %}">خروجی اکسل</a>
</div>
{% else %}
<div class="alert alert-danger text-center">
    شما دسترسی به این قسمت ندارید.
</div>
{% endif %}
{% endwith %}
{% endblock %}