{% extends 'base.html' %}
{% load moshavere_extra %}

{% block title%}مشاوره{% endblock %}

{% block content%}
<!-- مشاور -->
{% with user.username|split_ret_last:"-" as job %}
{% if not user.email and job == 'moshaver' %}
<div class="container my-5">
{% if user.moshaverprofile %}
<div class="row alert alert-success p-4">
        <h3 class="mb-5 text-center">فرم ارزیابی دانشجو</h3>
        <div class="col-sm-12">
            <form action="" method="POST">{% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}

                <button type="submit" class="btn btn-primary">ثبت</button>
        </div>
    </div>
    </form>
{% else %}
    <div class="alert alert-danger text-center">لطفا ابتدا پروفایل خود را تکمیل کنید.</div>
{% endif %}
</div>
{% else %}
<div class="alert alert-danger text-center">
    شما دسترسی به این قسمت ندارید.
</div>
{% endif %}
{% endwith %}

{% endblock %}