<!-- Footer -->
<footer class="text-white" style="background-color:#121b21;">
  <!-- Grid container -->
  <div class="container py-4">
    <!-- Section: Text -->
    <section class="mb-2">
      <small>
        سایت جهت مشاوره دانشجویان و تصمیم گیری برای بهبود عملکرد آنان است
      </small>
      <br>
      <small>
        درحال توسعه سایت و تکمیل آن
      </small>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0)">
    © 2022
    <a class="text-white" href="https://mohajer.tvu.ac.ir/">mohajer.tvu.tc.ir</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->