{% load static %}
{% load moshavere_extra %}

<nav class="navbar navbar-dark bg-dark p-1">
    <div class="container">
    <div class="container-flex">
        <a href="{% url 'moshavere:index' %}"><img src="{% static '/imgs/mohajer_favicon.ico' %}" alt="" width="24" height="24"></a>
        <a class="navbar-brand" style="font-size: 1em;" href="{% url 'moshavere:index' %}">مرکز مشاوره مهاجر</a>
    </div>

    <div class="row">
        <div class="col">
            <li class="nav-item" style="list-style: none;">
                <a class="btn btn-outline-light btn-sm text-nowrap" href="#">رزرو نوبت</a>
            </li>
        </div>
        <div class="col m-0 p-0">
            <button class="navbar-toggler py-0 px-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">لیست منو سایت</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <li style="list-style: none;">
                    <hr class="dropdown-divider">
                </li>
                <div class="offcanvas-body p-0 m-0">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li><a class="dropdown-item" href="{% url 'moshavere:index' %}">صفحه اصلی</a></li>
                        <li><a class="dropdown-item" href="#">درباره ما</a></li>
                        <li><a class="dropdown-item" href="#">تماس با ما</a></li>
                        {% if user.is_authenticated %}
                        {% if not user.email %}
                        <li><a class="dropdown-item" href="{% url 'moshavere:students' %}">دانشجویان</a></li>
                        <li><a class="dropdown-item" href="{% url 'moshavere:markaz_moshavere_all' %}">مراکز مشاوره</a></li>
                            {% with user.username|split_ret_last:"-" as job %}
                            {% if job == 'nazer' %}
                            <li><a class="dropdown-item" href="{% url 'moshavere:nazer' %}">نظارت</a></li>
                            {% elif job == 'moshaver' %}
                            <li><a class="dropdown-item" href="{% url 'moshavere:employee' %}">پروفایل</a></li>
                            <li><a class="dropdown-item" href="{% url 'moshavere:consulation' %}">مشاوره</a></li>
                            {% endif %}
                            {% endwith %}
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="btn btn-danger btn-sm ms-3" href="{% url 'moshavere:logout' %}">خروج</a></li>
                        {% else %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="btn btn-success btn-sm ms-3" href="{% url 'moshavere:login' %}">ورود</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>