{% load static %}

<nav class="navbar navbar-dark bg-dark p-1">
    <div class="container">
    <div class="container-flex">
        <a href="{% url 'moshavere:index' %}"><img src="{% static '/imgs/mohajer_favicon.ico' %}" alt="" width="24" height="24"></a>
        <a class="navbar-brand" style="font-size: 1em;" href="{% url 'moshavere:index' %}">مشاوره مهاجر</a>
    </div>
    <li class="nav-item dropdown">
        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            منو
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        {% if user.is_authenticated %}
            <li><a class="dropdown-item" style="margin-left: 6px;" href="{% url 'moshavere:employee' %}">پروفایل</a></li>
        {% if user.is_authenticated and user.employee.is_authorized == True %}
            <li><a class="dropdown-item" style="margin-left: 6px;" href="{% url 'moshavere:consulation' %}">{{ user.employee.job }}</a></li>
        {% endif %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" style="margin-left: 6px;" href="{% url 'moshavere:logout' %}">خروج</a></li>
        {% else %}
            <li><a class="dropdown-item" style="margin-left: 6px;" href="{% url 'moshavere:signup' %}">ثبت نام</a></li>
            <li><a class="dropdown-item" href="{% url 'moshavere:login' %}">ورود</a></li>
        {% endif %}
        </ul>
    </li>
    </div>
</nav>