{% extends 'base.html' %}
{% load static %}

{% block title %}درباره ما{% endblock %}

{% block content %}
<div class="container my-5">
    <h3 class="alert alert-primary text-center">درباره مرکز مشاوره دانشگاه فنی شهید محسن مهاجر</h2>
    <div class="alert alert-secondary bg-white p-4">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6 p-3 mb-3">
                <img class="img-fluid rounded" src="{% static 'imgs/about-us.jpg' %}" alt="دانشکده شهید مهاجر اصفهان">
            </div>
            <div class="col-sm-6 p-3 mb-3">
                <p>
                    دانشگاه فنی مهاجر با هدف ارایه خدمات روانشناختی به دانشجویان شروع به فعالیت کرده است، هدف ما در مرکز
                    مشاوره دانشگاه فنی فراهم آوردن شبکه ای حمایتی و پشتیبانی و جهت دهی به افرادی است که در راه رشد و
                    تعالی خویش در تلاش هستند و به منظور یافتن راهی یگانه خود در مسیر زندگی به کمک تخصصی نیاز دارند.
                </p>
            </div>
            <hr>
            <div class="col-sm-6 p-3 mb-3">
                <p>
                    معرفی مرکز مشاوره و خدمات روانشناختی دانشگاه فنی مهاجر

                    مرکز مبتنی بر رویکرد های رایج روانشناسی در ایران

                    مرکز خدمات روانشناسی دانشگاه مهاجر در راستای خدمت به دانشجویان از سال ۱۳۹۶ مشغول به فعالیت است
                </p>
            </div>
            <div class="col-sm-6 p-3 mb-3">
                <img class="img-fluid rounded" src="{% static 'imgs/about-us2.jpg' %}" alt="دانشکده شهید مهاجر اصفهان">
            </div>
            <hr>
            <div class="col-sm-6 p-3 mb-3">
                <img class="img-fluid rounded" src="{% static 'imgs/about-us3.jpg' %}" alt="دانشکده شهید مهاجر اصفهان">
            </div>
            <div class="col-sm-6 p-3 mb-3">
                <p>
                    مجموعه مشاوران مرکز مشاوره دانشگاه جهت ارتقا سطح آگاهی در جامعه، گسترش سطح شادکامی و رضایت مندی
                    افراد در زندگی شخصی و سلامت روان، روابط بین فردی و نقش های اجتماعی سالم، سازنده و در راستای ارتقا
                    سطح خدمات روانشناسی در دانشگاه و اعتلای سلامت و فرهنگ ایران را در اولویت اهداف خویش قرار داده است.
                </p>
            </div>
            <hr>
            <div class="col-sm-6 p-3 mb-3">
                <p>
                    اهداف ما

                    آموزش دانشجویان

                    باور ما این است توسعه کشور وابسته ارتقاء سطح فرهنگ و سلامت افراد جامعه است و این دو مستلزم سلامت
                    روان افراد و بهزیستی روانی افراد جامعه است که در سطح هوشیاری، سطوح فردی و آگاهی جامعه قابل جستجو
                    است.
                    بدین‌منظور مرکز مشاوره دانشگاه فنی مهاجر با برگزاری دوره های به منظور آموزش مهارتهای ضروری زندگی
                    سالم، ارتقا کیفیت روابط بین فردی و کمک به رشد و تعالی افراد خدمت خود را ارائه می دهد.
                </p>
            </div>
            <div class="col-sm-6 p-3 mb-3">
                <img class="img-fluid rounded" src="{% static 'imgs/about-us4.jpg' %}" alt="دانشکده شهید مهاجر اصفهان">
            </div>
        </div>
    </div>
</div>
{% endblock %}