<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_font.css' %}">
    <link rel="icon" href="{% static 'imgs/mohajer_favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- navbar -->
    {% include 'snippets/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- for pushing footer to the bottom of the screen -->
    <div style="margin-bottom: 150px;"></div>
    {% include 'snippets/footer.html' %}
    <!-- bootstrap JS -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>