{% extends 'base.html' %}

{% block title %}تماس با ما{% endblock %}

{% block content %}
<div class="container my-5">
<h3 class="alert alert-primary text-center">مرکز مشاوره دانشگاه فنی شهید محسن مهاجر</h3>
    <div class="alert alert-secondary bg-white p-4">
        <div class="row" style="text-align: justify;">
            <div class="col-sm-9 p-3 mb-3">
                <p>دانشکده فنی و حرفه ای شهید محسن مهاجر اصفهان</p>
                <p>تلفن تماس: ۳۶۷۳۶۵۸۵-۰۳۱</p>
                <p>نشانی: اصفهان - خیابان هزار جریب - دانشکده فنی و حرفه ای شهید محسن مهاجر</p>
                <p>کدپستی: ۸۱۷۴۶۷۵۵۵۱</p>
                <p>صندوق پستی: ۳۱۵-۸۱۶۴۵</p>
                <p>فکس: ۳۶۷۳۶۵۳۵-۰۳۱</p>
                <p>پست الکترونیکی: info-022@tvu.ac.ir</p>
                <p>ارتباط مستقیم با ریاست دانشگاه فنی و حرفه ای استان اصفهان: Esfahan@tvu.ac.ir</p>
                <p>ارتباط با ادمین سایت: saeidrasoli1212@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}