{% extends 'base.html' %}
{% load static %}

{% block title %}مشاوره مهاجر{% endblock %}

{% block content %}
{% include 'snippets/message.html' %}
<img class="img-fluid mb-3" src="{% static 'imgs/mohajer.jpg' %}" alt="mohajer">
<div class="container">
    {% if user.is_authenticated %}
        <div class="alert alert-primary" role="alert">
            <p>خوش آمدید {{ user.username }}</p>
            لطفا برای استفاده از سایت وارد پنل پروفایل خود شوید و اطلاعات لازمه را وارد نمایید.
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            <p>خوش آمدید، لطفا وارد حساب کاربری خود شوید.</p>
            <a href="{% url 'moshavere:login' %}">ورود</a>
        </div>
    {% endif %}
</div>
{% endblock %}