{% extends 'base.html' %}
{% load static %}

{% block title %}مشاوره مهاجر{% endblock %}

{% block content %}
{% include 'snippets/message.html' %}
<img class="img-fluid mb-3" src="{% static 'imgs/mohajer.jpg' %}" alt="mohajer">
<div class="container">
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">مشاوره دانشجویان اصفهان</h5>
                    <br>
                    <p class="card-text">در این سایت دانشجویان میتوانند با انتخاب مشاور و ارسال درخواست به مشاور مورد نظر مشکلات و سوالات خود را 
                        بپرسند.
                    </p>
                    <p class="card-text"><small class="text-muted">شماره تماس: ۲۲۲۳۳۴۴-۰۳۱</small></p>
                    <br>
                    <a class="btn btn-primary" href="{% url 'moshavere:about_us' %}">درباره ما</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imgs/moshavere2.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>
{% endblock %}