{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}

{% block content %}
<div class="container my-5">
    <p>لطفا اطلاعات خود را وارد کنید</p>
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="POST">{% csrf_token %}
                {% for field in form %}
                <p>{{ field.label }}: <br> {{ field }}</p>
        
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <small>{{ error|escape }}</small>
                </div>
                {% endfor %}
                {% endfor %}
                <button class="btn btn-success" type="submit">ثبت نام</button>
            </form>
        </div>
        <div class="col-sm-1"></div>
        <div class="alert alert-success col-sm-5 my-5">
            <p>یعد از ثبت نام وارد حساب کاربری خود شوید و یک مشاوره با مشاور خود رزرو کنید.</p>
        </div>
    </div>
</div>
{% endblock %}